#folders ----------------------------------------------------------------
src/
__test__/
coverage/
node_modules/
.github/

#files ----------------------------------------------------------------
.npmrc
.env
.env.local
.npmignore
.gitignore
.jest.config.js
README.md
space.code-workspace